doctype html
html
  head
    title Movethat 
    block scripts
    block style 
      script(src='/jquery.js')
  body
    nav#navbar
      ul
        div#logo
           img(src="/static/symbol (2).png", alt="symbol")
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Class Info]
        li #[a(href='/contact') Contact Us]
    block content
     