h1{
    text-align: left;
    margin: 20px;
    margin-left:30%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.myform{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myinput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2.5px #ffa196d4 solid;
    border-radius: 10px;
}
button.btn {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    color: white;
    background: rgb(54, 54, 54);
    border: 2px #ff8c80d4 solid;
}